{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <ul class="list-group">
                    {% for post in posts %}
                        <li class="list-group-item">
                            <div class="media p-3 bg-white">
                                <img class="align-self-top mr-3 rounded-circle" style="width:60px" src={{ post.icon_path }}>
                                <div class="media-body">
                                    <h4>{{ post.username }}</h4>
                                    <a class='text-muted small' href={{ url_for('post.show_post', post_id=post.id) }}>
                                        {{ post.datetime }}
                                    </a>
                                    <p>{{ post.body }}</p>
                                </div>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 text-center card-text">
                                <a href="/article/new">New Article</a>
                            </div>
                            <div class="col-6 text-center card-text">
                                <a href="/post/new">New Post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <img src={{user.icon_path}} class="card-img">
                        <h2 class="card-title text-center">{{ user.username }}</h2>
                        <div class="row">
                            <div class="col-6 text-center"><a href="#">Articles</a></div>
                            <div class="col-6 text-center"><a href="#">Posts</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}