<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="row card-body">
            <div class="col-1">
                <img class="img-fluid rounded-circle" src={{ icon_path }}>
            </div>
            <div class="col-11">
                <h3 class="card-title">{{ post_user.username }}</h3>
                <p class="card-text">{{ post.body }}</p>
                <p class="card-text text-muted">Created at {{ post.datetime }}</p>
            </div>

        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            {% if rv_count <= 1 %}
            {{ rv_count }}  Review
            {% else %}
            {{ rv_count }}  Reviews
            {% endif %}
        </div>
        <div class="card-body">
            {% for review in reviews %}
            <div class="media p-3 bg-white">
                <img class="align-self-top mr-3" style="width:60px" src={{ review.icon_path }}>
                <div class="media-body">
                    <h4>{{ review.username }}</h4>
                    <small>{{ review.datetime }}</small>
                    <p>{{ review.body }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {% from 'bootstrap/form.html' import render_form %}
            {{ render_form(form, form_type = "basic", button_map = {"submit": "primary"}) }}
        </div>
    </div>
</div>
{% endblock %}