<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ article.title }}</h1>
            <div class="card-text">{{ author.username }}</div>
            <div class="card-text">
            <p>{{ article.body | safe}}</p></div>
            <div class="card-text text-muted">Created at {{ article.datetime }}</div>
        </div>
    </div>
    <br>


    <div class="card">
        <div class="card-body">
            {% from 'bootstrap/form.html' import render_form %}
            {{ render_form(form, form_type = "basic", button_map = {"submit": "primary"}) }}
        </div>
    </div>

</div>
{% endblock %}