<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    {% if user%}
    <h1>Hi, {{ user.username }}!</h1>
        <hr />
        <div><a href="/post/all">Posts</a></div>
        <div><a href="/user/myposts">My Posts</a></div>
        <div><a href="/user/newpost">New Post</a></div>
        <div><a href="/user/profile">My Profile</a></div>
        <div><a href="/user/logout">Logout</a></div>
    {% else %}
    <h1>Hi!</h1>
        <hr />
        <div><a href="/login">Login</a></div>
        <div><a href="/register">Register</a></div>
    {% endif %}

</body>
</html>